<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cinema Booking</title>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/css/nav.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <!-- Navbar -->
  <%- include('./partial/navbar.ejs', { loggedIn: loggedIn }) %>

  <main>
    <div class="container">

      <!-- Movie Booking Section -->
      <section id="booking" class="text-center">
        <div class="row">
          <div class="button-container">
            <div class="dropdown">
              <button id="movieDropdown" class="btn btn-secondary dropdown-toggle" type="button"
                data-bs-toggle="dropdown">
                Movie
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Movie 1</a></li>
                <li><a class="dropdown-item" href="#">Movie 2</a></li>
              </ul>
            </div>
            <div class="dropdown">
              <button id="cinemaDropdown" class="btn btn-secondary dropdown-toggle" type="button"
                data-bs-toggle="dropdown">
                Cinema
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cinema 1</a></li>
                <li><a class="dropdown-item" href="#">Cinema 2</a></li>
              </ul>
            </div>
            <div class="dropdown">
              <button id="timingDropdown" class="btn btn-secondary dropdown-toggle" type="button"
                data-bs-toggle="dropdown">
                Timing
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Timing 1</a></li>
                <li><a class="dropdown-item" href="#">Timing 2</a></li>
              </ul>
            </div>
            <button id="showtimes" class="btn btn-primary">
              Showtimes
              <img src="/images/search.png" alt="search icon" />
            </button>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="location-container">
          <span id="location-label">Recommend based on location</span>
          <button id="location" class="btn btn-primary">
            Location
            <img src="/images/location.png" alt="location icon" />
          </button>
        </div>
      </div>
    </div>
    </section>

  <!-- select movie > populate movie page with movie id from main > button to book > booking page -->
  <section id="trending">
    <div class="container">
      <div class="row">
        <h2 class="showcase-heading">All Movies</h2>
        
        <% movies.forEach((movie) => { %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="showcase-box">
              <!-- pass movieId and redirect to moviedetails page  -->
              <a href="/moviedetails?movieId=<%= movie.movieId %>">
              <!-- generate the image source dynamically -->
              <img src="/images/movies/<%= movie.title.replace(/[:\s]/g, '_') %>.jpg"
                  onerror="this.onerror=null; this.src='/images/movies/placeholder.jpg';"
                  alt="poster" /></a>
          </div>
          <h3 class="movieTitle"><%= movie.title %></h3></div>
        <% }); %>
      </div>
    </div>
  </section>

  </main>
    <!-- footer -->
    <%- include('./partial/footer'); %>

    <!-- Scripts -->
    <script src="/js/app.js"></script>
    <script src="/js/movielistings.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>

</html>