<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- nts. replace with MovieDetails title -->
    <title>Seat Selection for <%= showtimeDetails.movieTitle %></title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/booking.css" />
</head>

<body>
    <div id="modalOverlay" class="overlay"></div>
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <div class="flex-row" id="modalCloseRow">
                <button type="button" id="modalCloseBtn" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="flex-row" id="modalRow">
                <h2 class="showcaseHeading">Login Required</h2>
            </div>
            <div class="row" id="modalRow">
                <h3 class="loginWarning">You need to be logged in to purchase a ticket.</p>
            </div>
            <div class="row" id="modalRow">
                <div class="col-auto">
                    <button id="cancelButton" class="btn btn-secondary">
                        Cancel
                    </button>
                </div>
                <div class="col-auto">
                    <a class="btn btn-primary" href="/login" role="button">Login</a>
                </div>
            </div>
        </div>
    </div>  
    <!-- Navbar -->
    <%- include('../partial/navbar.ejs', { loggedIn: loggedIn }) %>

    <div class="container">
        <div class="row">
            <div class="col-md-3" id="showcaseContainer">
                <div class="showcase-box">
                    <img src="/images/movies/<%= showtimeDetails.movieTitle.replace(/[:\s]/g, '_') %>.jpg"
                    onerror="this.onerror=null; this.src='/images/movies/placeholder.jpg';"
                    alt="poster" /></a>                </div>
                <h1 id="movieTitle"> <%= showtimeDetails.movieTitle %></h1>
            </div>
            <div class="col-md-9">

                <div class="row">
                    <div class="col-md-4">                
                        Cinema:
                        <a class="ticketHeaders"><%= showtimeDetails.cinemaName %></a>
                    </div>
                    <div class="col-md-4">                
                        Date:
                        <a class="ticketHeaders"><%= showtimeDetails.showDate %></a>
                    </div>
                    <div class="col-md-4">                
                        Time:
                        <a class="ticketHeaders"><%= showtimeDetails.showTime %></a>
                    </div>
                </div>

                <!-- seat selection legend -->
                <ul class="showcase">
                    <li>
                        <div class="seat display" id="showcaseSeats"></div>
                        <small>Available</small>
                    </li>
                    <li>
                        <div class="seat-reserved" id="reserved"></div>
                        <small>Selected</small>
                    </li>
                    <li>
                        <div class="seat-sold"></div>
                        <small>Sold</small>
                    </li>
                </ul>

                <div class="seatContainer">
                    <div class="screen" id="seatingPlanScreen">
                        <a>
                            Screen
                        </a>
                    </div>
                    <div class="row">
                        <div class="seatNumbers">A</div>
                        <div class="seat" id="1A"></div>
                        <div class="seat" id="2A"></div>
                        <div class="seat" id="3A"></div>
                        <div class="seat" id="4A"></div>
                        <div class="seat" id="5A"></div>
                        <div class="seat" id="6A"></div>
                        <div class="seat" id="7A"></div>
                        <div class="seat" id="8A"></div>
                    </div>
                    
                    <div class="row">
                        <div class="seatNumbers">B</div>
                        <div class="seat" id="1B"></div>
                        <div class="seat" id="2B"></div>
                        <div class="seat" id="3B"></div>
                        <div class="seat" id="4B"></div>
                        <div class="seat" id="5B"></div>
                        <div class="seat" id="6B"></div>
                        <div class="seat" id="7B"></div>
                        <div class="seat" id="8B"></div>
                    </div>
                    
                    <div class="row">
                        <div class="seatNumbers">C</div>
                        <div class="seat" id="1C"></div>
                        <div class="seat" id="2C"></div>
                        <div class="seat" id="3C"></div>
                        <div class="seat" id="4C"></div>
                        <div class="seat" id="5C"></div>
                        <div class="seat" id="6C"></div>
                        <div class="seat" id="7C"></div>
                        <div class="seat" id="8C"></div>
                    </div>
                    
                    <div class="row">
                        <div class="seatNumbers">D</div>
                        <div class="seat" id="1D"></div>
                        <div class="seat" id="2D"></div>
                        <div class="seat" id="3D"></div>
                        <div class="seat" id="4D"></div>
                        <div class="seat" id="5D"></div>
                        <div class="seat" id="6D"></div>
                        <div class="seat" id="7D"></div>
                        <div class="seat" id="8D"></div>
                    </div>
                    
                    <div class="row">
                        <div class="seatNumbers">E</div>
                        <div class="seat" id="1E"></div>
                        <div class="seat" id="2E"></div>
                        <div class="seat" id="3E"></div>
                        <div class="seat" id="4E"></div>
                        <div class="seat" id="5E"></div>
                        <div class="seat" id="6E"></div>
                        <div class="seat" id="7E"></div>
                        <div class="seat" id="8E"></div>
                    </div>
                    
                    <div class="row">
                        <div class="seatNumbers">F</div>
                        <div class="seat" id="1F"></div>
                        <div class="seat" id="2F"></div>
                        <div class="seat" id="3F"></div>
                        <div class="seat" id="4F"></div>
                        <div class="seat" id="5F"></div>
                        <div class="seat" id="6F"></div>
                        <div class="seat" id="7F"></div>
                        <div class="seat" id="8F"></div>
                    </div>

                    <div class="row">
                        <div class="seatNumbers">G</div>
                        <div class="seat" id="1G"></div>
                        <div class="seat" id="2G"></div>
                        <div class="seat" id="3G"></div>
                        <div class="seat" id="4G"></div>
                        <div class="seat" id="5G"></div>
                        <div class="seat" id="6G"></div>
                        <div class="seat" id="7G"></div>
                        <div class="seat" id="8G"></div>
                    </div>

                    <div class="row">
                        <div class="seatNumbers" id="seatingPlanSeat">1</div>
                        <div class="seatNumbers">2</div>
                        <div class="seatNumbers">3</div>
                        <div class="seatNumbers">4</div>
                        <div class="seatNumbers">5</div>
                        <div class="seatNumbers">6</div>
                        <div class="seatNumbers">7</div>
                        <div class="seatNumbers">8</div>
                    </div>
                    
                </div>
            </div>
            <div class="booking-selection">
                <div class="row ticketRow">
                    <div class="col-md-4">
                        <a class="ticketHeaders">TICKET TYPE</a>
                    </div>
                    <div class="col-md-4">
                        <a class="ticketHeaders">SEATS SELECTED</a>
                    </div>
                    <div class="col-md-2">
                        <a class="ticketHeaders">TICKET PRICE</a>
                    </div>
                    <div class="col-md-2">
                        <a class="ticketHeaders">QUANTITY</a>
                    </div>
                </div>
                <div class="row ticketRow">
                    <div class="col-md-4">
                        Adult
                    </div>
                    <div class="col-md-4" id="selectedSeatsDisplay">
                        <!-- array of seats selected will appear here -->
                        None
                    </div>
                    <div class="col-md-2">
                        $10.50
                    </div>
                    <div class="col-md-2">
                        <p class="text">
                            <span id="count">0</span>
                        </p>
                    </div>
                </div>
                <div class="row" id="ticketRow">
                    <div class="col-md-2">
                        <a class="ticketHeaders">TOTAL PRICE</a>
                    </div>
                    <div class="col-md-2" id="priceRow">
                        <h4 class="totalPrice">$</h4><h4 class="totalPrice" id="total">0</h4>
                    </div>
                </div>
                <div class="row" id="ticketRow">
                    <div class="col-md-2">
                        <button id="resetButton" class="btn btn-secondary">
                            RESET
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button id="checkoutButton" class="btn btn-primary" data-loggedin="<%= loggedIn %>">
                            CHECKOUT
                        </button>
                    </div>
                </div>
            </div>      
        </div>
    </div>

    </div>
    </div>
    </div>
    
    <!-- footer -->
    <%- include('../partial/footer'); %>

    <script>  
        window.showtimeDetails = <%- JSON.stringify(showtimeDetails) %>;
        window.bookedSeats = <%- JSON.stringify(bookedSeats) %>;
    </script>
    <script src="/js/booking.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</body>

</html>