<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Showtimes</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/showtimes.css" />
</head>
<main>

    <body>
        <!-- Navbar -->
        <%- include('../partial/navbar.ejs', { loggedIn: loggedIn }) %>

        <div class="container">
            <% const groupedData = {}; %>
          
            <% showtimes.forEach((showtime) => { %>
              <% const showDate = showtime.showDate;
              const cinemaId = showtime.cinemaId;
              const movieId = showtime.movieId;
              const showTime = showtime.showTime;
            
              if (!groupedData[showDate]) {
                groupedData[showDate] = {};
              }
            
              if (!groupedData[showDate][cinemaId]) {
                groupedData[showDate][cinemaId] = {};
              }
            
              if (!groupedData[showDate][cinemaId][movieId]) {
                groupedData[showDate][cinemaId][movieId] = [];
              }
            
              groupedData[showDate][cinemaId][movieId].push({ showTime, showtimeId: showtime.showtimeId });
              %>
            <% }); %>
          
            <% Object.keys(groupedData).forEach((showDate) => { %>
              <h2>Showing all showtimes for: <%= showDate %></h2>
              <% Object.keys(groupedData[showDate]).forEach((cinemaId) => { %>
                <div class="row" id="cinemaRow">
                    <!-- take in cinemaId = req.query.cinemaId in the controller  -->
                  <h2 class="showcase-heading">Cinema ID: <%= cinemaId %></h2>
                  <% Object.keys(groupedData[showDate][cinemaId]).forEach((movieId) => { %>
                    <div class="row" id="showtimeRow">
                      <div class="col-md-2 dateTab">
                        <h1>Movie ID: <%= movieId %></h1>
                      </div>
                      <div class="col-md-8 dateTab">
                        <% groupedData[showDate][cinemaId][movieId].sort((a, b) => {
                          // Custom sort function to arrange showTime slots chronologically
                          const aDate = new Date(`2000-01-01 ${a.showTime}`);
                          const bDate = new Date(`2000-01-01 ${b.showTime}`);
                          return aDate - bDate;
                        }).forEach((show) => { %>
                          <a class="btn btn-primary" href="/booking?showtimeId=<%= show.showtimeId %>" role="button"><%= show.showTime %></a>
                        <% }); %>
                      </div>
                    </div>
                  <% }); %>
                </div>
              <% }); %>
            <% }); %>
          </div>
          

    </body>

</main>

<%- include('../partial/footer'); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    </body>

</html>