<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>All bookings</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"/>

  <link rel="stylesheet" href="/css/nav.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <!-- Navbar -->
  <%- include('../partial/membernavbar.ejs', { loggedIn: loggedIn }) %>

  <main>

  <!-- Container for booking history -->
    <div class="container mt-5">
      <h2>Booking History</h2>
      <div class="row mt-3">
        <% if (bookingHistory && bookingHistory.length > 0) { %>
          <div class="card-deck">
            <% bookingHistory.forEach(function(booking) { %>
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Transaction ID: <%= booking.transactionId %></h5>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="card-text">Seat ID: <%= booking.ticketId %></p>
                      <p class="card-text">Showtime ID: <%= booking.showtimeId %></p>
                    </div>
                    <!-- Extracted data from showtimeArray -->
                    <div class="col-md-6">
                    <% showtimeArray.forEach(function(showtime) { %>
                      <% if (showtime.showtimeId === booking.showtimeId) { %>
                        <p class="card-text">Cinema Name: <%= showtime.cinemaName %></p>
                        <p class="card-text">Movie Title: <%= showtime.movieTitle %></p>
                        <p class="card-text">Date: <%= showtime.showDate %></p>
                        <p class="card-text">Time: <%= showtime.showTime %></p>
                        <p class="card-text">Theater Number: <%= showtime.theaterNumber %></p>
                      <% } %>
                    <% }); %>
                    </div>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>
        <% } else { %>
          <!-- if booking history is empty -->
          <div class="row mt-3">
            <div class="col">
              No booking history available.
            </div>
          </div>
        <% } %>
      </div>
    </div>

  </main>
    <!-- footer -->
    <%- include('../partial/footer'); %>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>




