<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>All Movies</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"/>

  <link rel="stylesheet" href="/css/nav.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <!-- Navbar -->
  <%- include('../partial/navbar.ejs', { loggedIn: loggedIn }) %>

  <main>
    <div class="container">

    <section id="movies">
    <div class="container">
      <div class="row">
        <h2 class="showcase-heading">All Movies</h2>
        
        <% movies.forEach((movie) => { %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="showcase-box">
              <!-- pass movieId and redirect to moviedetails page  -->
              <a href="/moviedetails?movieId=<%= movie.movieId %>">
              <!-- generate the image source dynamically -->
              <img src="/images/movies/<%= movie.title.replace(/[:\s]/g, '_') %>.jpg"
                  onerror="this.onerror=null; this.src='/images/movies/placeholder.jpg';"
                  alt="poster" /></a>
          </div>
          <h3 class="movieTitle"><%= movie.title %></h3></div>
        <% }); %>
      </div>
    </div>
  </section>

  </main>
    <!-- footer -->
    <%- include('../partial/footer'); %>

    <!-- Scripts -->
    <script src="/js/movielistings.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    
</body>

</html>