<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Showtimes</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/showtimes.css" />
</head>
<main>

    <body>
        <!-- Navbar -->
        <%- include('../partial/navbar.ejs', { loggedIn: loggedIn }) %>
        
           <!-- ///////////////MAKE SURE TO REMOVE////////////// -->
           <!-- log showtimes to the console for debugging -->
        <% var data = JSON.stringify(showtimes) %>
        <script>
            try {
                console.log(<%- JSON.stringify(data) %>);
            } catch (error) {
                console.error("Error logging showtimes:", error);
            }
        </script>

       <div class="container">
            <% showtimes.forEach((showtime) => { %>
                    <h4><%= showtime.showtime_id %></h4></a>
                    <h4><%= showtime.movie_id %></h4></a>
            <% }); %>
        </div>


    </body>

</main>

<%- include('../partial/footer'); %>

<script src="/js/moviedetails.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</body>

</html>