<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Showtimes</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/showtimes.css" />
</head>
<main>

    <body>
        <!-- Navbar -->
        <%- include('../partial/navbar.ejs', { loggedIn: loggedIn }) %>
        
           <!-- ///////////////MAKE SURE TO REMOVE////////////// -->
           <!-- log showtimes to the console for debugging -->
        <% var data = JSON.stringify(showtimes) %>
        <script>
            try {
                console.log(<%- JSON.stringify(data) %>);
            } catch (error) {
                console.error("Error logging showtimes:", error);
            }
        </script>

        <div class="container">
            <% showtimes.forEach((showtime) => { %>
                <a href="/showtimedetails?showtime_id=<%= showtime.showtimeId %>">
                    <h4><%= showtime.showtimeId %></h4></a>
            <% }); %>
        </div>

        <div class="container">
            <!-- Get unique showDates -->
            <% let uniqueShowDates = [...new Set(showtimes.map(showtime => showtime.showDate))]; %>
            
            <!-- Loop through unique showDates -->
            <% uniqueShowDates.forEach(uniqueDate => { %>
                <div class="col-auto dateTab">
                    <button id="showtimes" class="btn dateButton">
                        <h4><%= uniqueDate %></h4>
                    </button>
                </div>
                <!-- Get showtimes for the current showDate -->
                <% let showtimesForDate = showtimes.filter(showtime => showtime.showDate === uniqueDate); %>
                
                <!-- Get unique cinemaIds for the current showDate -->
                <% let uniqueCinemaIds = [...new Set(showtimesForDate.map(showtime => showtime.cinemaId))]; %>
                
                <!-- Loop through unique cinemaIds -->
                <% uniqueCinemaIds.forEach(uniqueCinemaId => { %>
                    <div class="row movieRow">
                        <div class="col-md-4">
                            <h5>Cinema <%= uniqueCinemaId %></h5>
                            <a class="subtitles">Subtitles: </a>
                            <div class="row"><a class="ratings">Rating: </a>
                            </div>
                        </div>
                    </div>
                    <!-- Get showtimes for the current cinemaId and showDate -->
                    <% let showtimesForCinema = showtimesForDate.filter(showtime => showtime.cinemaId === uniqueCinemaId); %>
                    
                    <!-- Get unique movieIds for the current cinemaId and showDate -->
                    <% let uniqueMovieIds = [...new Set(showtimesForCinema.map(showtime => showtime.movieId))]; %>
                    
                    <!-- Loop through unique movieIds -->
                    <% uniqueMovieIds.forEach(uniqueMovieId => { %>
                        <h6>Movie <%= uniqueMovieId %></h6>
                        <!-- Get showtimes for the current cinemaId, showDate, and movieId -->
                        <% let showtimesForMovie = showtimesForCinema.filter(showtime => showtime.movieId === uniqueMovieId); %>
                        <!-- Loop through showtimes for the current movieId -->
                        <% showtimesForMovie.forEach(showtime => { %>
                            <button id="showtimes" class="btn btn-primary"><%= showtime.showTime %></button>
                        <% }); %>
                    <% }); %>
                <% }); %>
            <% }); %>
        </div>

    </body>

</main>

<%- include('../partial/footer'); %>

<script src="/js/moviedetails.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</body>

</html>