<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Staff Dashboard</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/staff.css" />

</head>

    <body>
        <!-- navbar -->
        <%- include('../partial/navbar.ejs', { loggedIn: loggedIn }) %>

        <!-- Delete Modal -->
        <div id="delete-modal" class="modal">
            <div class="modal-content" id="delete-modal-content">
                <span class="close" id="close-delete-modal">&times;</span>
                <h2 id="deleteHeader">Are you sure you want to delete this showtime?</h2>
                <div class="row" id="modalRow">
                    <button id="confirm-delete" class="btn btn-danger">Delete</button>
                    <button id="cancel-delete" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div id="edit-modal" class="modal">
            <div class="modal-content" id="edit-modal-content">
                <span class="close" id="close-edit-modal">&times;</span>
                <h2>Modify Showtime</h2>
                <div class="row" id="modalRow">
                    <input type="text" class="form-control" placeholder="Date" id="editShowDate">
                </div>
                <div class="row" id="modalRow">
                    <input type="text" class="form-control" placeholder="Time" id="editShowTime">
                </div>
                <p>Are you sure you want to edit this showtime?</p>
                <div class="row" id="modalRow">
                    <button id="confirm-edit" class="btn btn-primary">Save Changes</button>
                    <button id="cancel-edit" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="tab">
                        <button class="tablinks" onclick="openTab(event, 'Movies')">Movies</button>
                        <button class="tablinks" onclick="openTab(event, 'Showtimes')">Showtimes</button>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="Movies" class="tabcontent">
                        <h3>Movies</h3>
                        <div class="container" id="movieContent">
                            <div class="row" id="movieContentRow">
                                <div class="col-md-2">
                                    <div class="row">
                                        <a>Movie ID</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <a>Movie Title</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <a>Movie Description</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <a>Movie Duration</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <a>Manage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- TODO: follow the same structure as above for dynamically rendering the movies -->
                        <% movies.forEach((movie) => { %>
                            <div class="container" id="movieContent">
                                <div class="row" id="movieContentRow">
                                    <div class="col-md-2">
                                        <div class="row">
                                            <a><%= movie.movieId %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <a><%= movie.movieTitle %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <a><%= movie.movieDescription %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <a><%= movie.movieDuration %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <button id="editMovie" class="btn btn-primary">Edit</button>
                                            <button id="deleteMovie" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>

                    <div id="Showtimes" class="tabcontent">
                        <h3>Showtimes</h3>
                        <div class="container" id="showtimeContent">
                            <div class="row" id="showtimeContentRow">
                                <div class="col-md-2">
                                    <div class="row">
                                        <a>Showtime ID</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <a>Cinema ID</a>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="row">
                                        <a>Theater ID</a>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="row">
                                        <a>Movie ID</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <a>Show Date</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <a>Show Time</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <a>Manage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- TODO: follow the same structure as above for dynamically rendering the showtimes -->
                        <% showtimes.forEach((showtime) => { %>
                            <div class="container" id="showtimeContent">
                                <div class="row" id="showtimeContentRow">
                                    <div class="col-md-2">
                                        <div class="row">
                                            <a><%= showtime.showtimeId %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <a><%= showtime.cinemaId %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="row">
                                            <a><%= showtime.theaterId %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="row">
                                            <a><%= showtime.movieId %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <a><%= showtime.showDate %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <a><%= showtime.showTime %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <button id="editShowtimes" class="btn btn-primary">Edit</button>
                                            <button id="deleteShowtimes" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div> 

        <!-- footer -->
        <%- include('../partial/footer'); %>

        <script src="/js/staff.js"></script>
        <script src="/js/nav.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    </body>
</html>
