<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Staff Dashboard</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/staff.css" />

</head>

    <body>
        <!-- navbar -->
        <%- include('../partial/navbar.ejs', { loggedIn: loggedIn }) %>

        <!-- Delete Modal -->
        <div id="delete-modal" class="modal">
            <div class="modal-content" id="delete-modal-content">
                <span class="close" id="close-delete-modal">&times;</span>
                <h2 id="deleteHeader">Are you sure you want to delete this movie?</h2> <!-- Change showtime to movie -->
                <div class="row" id="modalRow">
                    <button id="confirm-delete" class="btn btn-danger">Delete</button>
                    <button id="cancel-delete" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div id="edit-modal" class="modal">
            <div class="modal-content" id="edit-modal-content">
                <span class="close" id="close-edit-modal">&times;</span>
                <h2>Edit Movie Details</h2>

                <!-- Movie ID, which should not be editable, but display it to the user -->
                <div class="row" id="modalRow">
                    <input type="text" class="form-control" id="editMovieId" disabled>
                </div>
                
                <div class="row" id="modalRow">
                    <input type="text" class="form-control" placeholder="Title" id="editMovieTitle">
                </div>
                <div class="row" id="modalRow">
                    <textarea class="form-control" placeholder="Synopsis" id="editMovieSynopsis"></textarea>
                </div>
                <div class="row" id="modalRow">
                    <input type="text" class="form-control" placeholder="Genre" id="editMovieGenre">
                </div>
                <div class="row" id="modalRow">
                    <input type="text" class="form-control" placeholder="Content Rating" id="editMovieContentRating">
                </div>
                <div class="row" id="modalRow">
                    <input type="text" class="form-control" placeholder="Language" id="editMovieLanguage">
                </div>
                <div class="row" id="modalRow">
                    <input type="text" class="form-control" placeholder="Subtitles" id="editMovieSubtitles">
                </div>
                
                <p>Are you sure you want to edit the details for this movie?</p>
                <div class="row" id="modalRow">
                    <button id="confirm-edit" class="btn btn-primary">Save Changes</button>
                    <button id="cancel-edit" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-auto">
                    <div id="Movies" class="tabcontent">
                        <h3>Movies</h3>
                        <div class="container" id="movieContent">
                            <div class="row" id="movieContentRow">
                                <div class="col-md-1">
                                    <div class="row">
                                        <a>Movie ID</a>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="row">
                                        <a>Title</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <a>Synopsis</a>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="row">
                                        <a>Genre</a>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="row">
                                        <a>Content Rating</a>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="row">
                                        <a>Language</a>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="row">
                                        <a>Subtitles</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <a>Manage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% movies.forEach((movie, index) => { %>
                            <div class="container" id="movieContent">
                                <div class="row" id="movieContentRow">
                                    <div class="col-md-1">
                                        <div class="row">
                                            <a><%= movie.movieId %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="row">
                                            <a><%= movie.title %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <a><%= movie.synopsis %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="row">
                                            <a><%= movie.genre %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="row">
                                            <a><%= movie.contentRating %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="row">
                                            <a><%= movie.lang %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="row">
                                            <a><%= movie.subtitles %></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <button 
                                            id="editMovie<%= index %>" 
                                            class="btn btn-primary editMovie">
                                                Edit
                                            </button> 
                                            <button 
                                            id="deleteMovie<%= index %>" 
                                            class="btn btn-danger deleteMovie">
                                                Delete
                                            </button> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div> 

        <!-- footer -->
        <%- include('../partial/footer'); %>

        <script src="/js/staff.js"></script>
        <script src="/js/nav.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    </body>
</html>
